#navMenu{
	margin: 0;
	padding : 0;
}

#navMenu ul{
	margin: 0;
	padding : 0;
	line-height : 20px;
}
#navMenu li{
	margin: 0;
	padding : 0;
	list-style : none;
	float : left;
	position : relative;
	background-color : #1E5225;
}

#navMenu ul li a{
	
	color: #000000;
	display: block;
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	height: 20px;
	padding: 10px;
	text-decoration: none;
}

#navMenu ul ul{
	position : absolute;
	visibility : hidden;
	top : 41px;
}

#navMenu ul ul li{
	background-color :#5BB53B;
        text-align:left;
        width: 260px;    
}


#navMenu ul ul li:hover{
	background-color :#000000;  
}

#navMenu ul li:hover ul{
	visibility : visible;
        
}  

#navMenu li:hover{
	background-color : #ffffff;
         color: #000000;
          
}
