.rightmenubar{
    width: 290px;
    height:937px;
    float: left;
    font-family:fantasy;
    background: #E1DDD9;
    margin-left: 10px;

 
}

.l1{
   
    list-style-type:none;
   
}
.d1{
    width:250px;
    height:32px;
    text-align: center;
    padding-left:0;
    margin-bottom: 20px;
    background: antiquewhite;
    box-shadow: 1px 0 1px #1E5225;
    padding-top: 12px;
    font-family:fantasy;

 
}


.rmenu1{
    background: antiquewhite;
    color:#C00;
    text-decoration:none;
    font-size: 14px;
    font-family:fantasy;
   

}
.d2_h{
    width:250px;
    height:32px;
    border: 1px solid #ffffff;
    border-radius: 4px 4px 4px;
    background: #1E5225;
    color: #ffffff;
    text-align:center;
    padding-top: 12px;
    font-family:fantasy;

    
    
}

.d2_m{
    width:250px;
    height:200px;
    text-align: center;
    padding-left:0;
    margin-bottom: 20px;
    background:#ffffff;
    border-radius: 4px 4px 4px;
    border:  1px solid #ffffff;
    font-family:fantasy;
   
    
    
}
.d3_h{
    width:250px;
    height:32px;
    border: 1px solid #ffffff;
    border-radius: 4px 4px 4px;
    background: #1E5225;
    color: #ffffff;
    text-align:center;
    padding-top: 12px;
    font-family:fantasy;

    
    
}

.d3_b{
    width:250px;
    height:40px;
    padding-left:0;
    margin-bottom: 20px;
    background:#ffffff;
    border-radius: 2px 2px 2px;
    border:  1px solid #ffffff;
    font-family:fantasy;

    
    
}
.d4_h{
    width:250px;
    height:32px;
    border: 1px solid #ffffff;
    border-radius: 4px 4px 4px;
    background: #1E5225;
    color: #ffffff;
    text-align:center;
    padding-top: 12px;
    font-family:fantasy;

    
    
}

.d4_b{
    width:250px;
    height:150px;
    padding-left:0;
    margin-bottom: 20px;
    background:#ffffff;
    border-radius: 4px 4px 4px;
    border:  1px solid #ffffff;
    font-family:fantasy;
    
}
.a1{
   font-size: 11px; 
   text-decoration: none;
   font-family:fantasy;
    
}

.d5{
    width:230px;
    height:30px;
    border: 1px solid #ffffff;
    border-radius: 4px 4px 4px;
    background: #ffffff;
    color: #ffffff;
    padding-top: 12px;
    margin-bottom: 2px;
    padding-left: 20px;
}
.a2{
   
   text-decoration: none;
   font-family:fantasy;
    
}

